.loadingScreen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}
@keyframes inAnimation {
    0% {
      opacity: 0;
      max-height: 0px;
    }
    100% {
      opacity: 1;
      max-height: 600px;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
      max-height: 35em;
    }
    100% {
      opacity: 0;
      max-height: 0em;
    }
  }
  
.difficulty-quality{
    display:flex;
    width:100%;
    justify-content: right;
    color: #1B4726;
}
.professor-review{
    display: block;
}
#write-review-btn{
    width:12em;
    height:3em;

}
.detail{
    margin: 2em;
    display: flex;
    flex-direction: column;
}
#description-btn{
width:15em;
height: 3em;
border-radius: 5%;
border: none;
}

.content-and-btn{
    display:flex;
}
.content-container{
    padding:2em;
}
#course-details{
    padding:1em 2em 2em 2em;
    border-radius: 5%;
    background-color: #E5DED6;
}
#quality{
    margin-right: 1em;
}
#date{
    width: 100%;
    display:flex;
    color:gray;
    font-size: .8em;
    justify-content: right;
}
.top-bar{
    background-color: #C0CCA4;;
}
.review{
    border:.1em solid #2E6939;
    padding:1em;
}
.review-btn-container{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.course-action-btn{
    background-color: #1B4726;
    color:#E5DED6;
    width:12em;
    height: 3em;
}
.course-action-btn:hover{
background-color: #2E6939;;
}