.loadingScreen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.difficulty-quality{
    display:flex;
    width:100%;
    justify-content: right;
    color: #1B4726;
}
.professor-review{
    display: block;
}
.content-container{
    width:100%;
    padding:2em;
}
#quality{
    margin-right: 1em;
}
#date{
    width: 100%;
    display:flex;
    color:gray;
    font-size: .8em;
    justify-content: right;
}
.top-bar{
    width: 100%;
    background-color: #C0CCA4;;
}
.review{
    border:.1em solid #2E6939;
    padding:1em;
}
.review-btn-container{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.course-action-btn{
    background-color: #1B4726;
    color:#E5DED6;
    width:12em;
    height: 3em;
}
.course-action-btn:hover{
background-color: #2E6939;;
}