#viewAllTab{
    width:100%;
    height: 4em;
    font-weight: bold;
    background-color: #b0aca5;
    color: white;
    border: .1em solid #606E52;
}

#viewAllTab:hover{
    background-color: #7c7974;
}
#viewAllTab:focus{
    background-color: #7c7974;
}