.loadingScreen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}
@keyframes inAnimation {
    0% {
      opacity: 0;
      max-height: 0px;
    }
    100% {
      opacity: 1;
      max-height: 600px;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
      max-height: 35em;
    }
    100% {
      opacity: 0;
      max-height: 0em;
    }
  }

h2{
    margin-bottom: 0;
}
h5 {
    color: grey; /* Sets the text color to grey */
    margin-top: 0em; /* Minimal space above the h5 */
    margin-bottom: 2em; /* Minimal space below the h5 */
    font-size: 1em; /* Adjust font size as needed */
}

#write-review-btn{
    width:12em;
    height:3em;

}
.professor-and-date{
    padding-top: 0;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.review-stack{
    width:100%;
    margin-left: 4em;
}
.review{
    display: flex;
    /* position: relative; */
}
.professor-container{
    display: flex;
    justify-content: left;
    color: gray;
    font-weight: bold;
}
.detail{
    margin: 2em;
    display: flex;
    flex-direction: column;
}
#description-btn{
    background-color:#dcdad7 ;
margin-left: 2em;
width:15em;
height: 3em;
border-radius: 5%;
border: none;
}
#description-btn:hover{
    background-color: #ccc6c0;
}
#before-reviews{
    margin-bottom: 2em;
}
.btns{
    padding:2em;
    display: flex;
    justify-content: space-between;
}
.review-top-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}
.content-container{
    padding:2em;
}
#course-details{
    padding:1em 2em 2em 2em;
    border-radius: 5px;
    background-color: #E5DED6;
}

#quality{
    margin-right: 1em;
}
.small{
    font-size: smaller;
}
label{
    margin-right: 1em;
}
#date{
    display: flex;
    color:gray;
    font-size: .8em;
    font-weight: bold;
    justify-content: right;
}
.top-bar{
    background-color: #C0CCA4;;
}
.review{
    border:none;
    background-color: rgba(239, 239, 239,0.6);
    border-radius: 5px;
    padding:1em;
    margin: 2em 2em 2em 2em;
}
.review-btn-container{
    margin:2em 2em 2em 0em;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.course-action-btn{
    background-color: #1B4726;
    color:white;
    font-size: larger;
    width:6em;
    height: 2em;
    border-radius: 5%;
}
.course-action-btn:hover{
background-color: #2E6939;;
}
#write-review-btn:not([disabled]){
   margin-right: 2em;
    border-radius: 5px;
    width:10em;
    background-color: #77C66E ;
    border: none;
    color: #ffffff;
    text-align: center;
    padding:1em;
    cursor: pointer;
    transition: all 0.5s;
    /* box-shadow: 0 .5em 1em -.5em rgba(0, 0, 0,.7); */
    display: inline-block;
    position:relative;
    font-size: 1.1em;
}
#write-review-btn:disabled{
    margin-right: 2em;
     border-radius: 5px;
     width:10em;
     background-color: #4e8348 ;
     border: none;
     color: #ffffff;
     text-align: center;
     padding:1em;
     display: inline-block;
     position:relative;
     font-size: 1.1em;
 }
#write-review-btn:not([disabled]):after{
    content:"\2192";
    position: absolute;
    opacity:0;
    top:.2em;
    right:-1.8em;
    transition: 0.5s;
}
#write-review-btn:not([disabled]):hover{
    padding-right:1.6em;
    padding-left: .5em;
}

#write-review-btn:not([disabled]):hover:after{
    opacity: 1;
    right:0em;
    font-size: 2em;
    ;
}
#hours-container {
    display: flex;
    justify-content: left;
    padding-left: 1em;
    color: gray;
    font-size: 0.9em;
    font-weight: bold;
}
#RMP-btn{
    background-color:#606E52 ;
    margin-left: 2em;
    width: 12em;
    height: 3.75em;
    border-radius: 5%;
    border: none;
    color:white;
}
#RMP-btn:hover{
    background-color: #7a8c68;
}
#RMP-btn, .small {

    margin-right: 2em; /*Ensures some spacing on the right */
}

.left-btns {
    margin-left:0.27em;
    display: flex;
    flex-direction: column; /* Aligns items in a column */
    align-items: flex-start; /* Aligns items to the left */
}

.right-btn {
    display: flex;
    justify-content: flex-end; /* Aligns the Write a Review button to the right */
}


.select-input {
    background-color: #E5DED6; 
    border: none; 
    border-radius: 5px;
    padding: 0.8em 1em; 
    color: black;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width:11.2em;
}

.select-input:hover {
    background-color: #D1CAB8; 
}

.like-dislike-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}


.inactive {
    color: #ccc; /* Light gray color gives an unfilled appearance */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.active {
    color: green; /* For liked icon */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.dislike-button .inactive {
    color: #ccc; /* Same light gray for unfilled appearance */
    transition: color 0.3s ease;
}

.dislike-button .active {
    color: red; /* For disliked icon */
    transition: color 0.3s ease;
}

