.App {
  text-align: center;
}
body{
  background-color: #ffffff;
}
*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
  color: #474747;
}


/*
dark grey:#474747
light grey: #8F8B84
Dark green: #606E52
med green: #91A56E
light green: #C0CCA4
*/