.App {
  text-align: center;
}
body{
  background-color: #ffffff;
}
*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
  color: #474747;
}


.header-with-image {
  display: flex;          
  justify-content: center; /* This centers the flex items horizontally in the container */
  align-items: center;     /* This centers the flex items vertically in the container */
  width: 100%;  
}

.smaller-image {
  width: calc(100% / 18);  
  height: auto;      
}


/*
dark grey:#474747
light grey: #8F8B84
Dark green: #606E52
med green: #91A56E
light green: #C0CCA4
*/