.App {
  text-align: center;
}
body{
  background-color: #ffffff;
}
*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}
.title{
  color: #474747;
}
.line{
  border: 0;
  height: 0.1em;
  background-color: #474747; /* Dark grey color */
  display: none;
}

.about-btn{
  position: absolute; /* Position it relative to the title */
  top: 10px; /* Adjust the vertical position */
  right: 1px; /* Align to the upper right corner */
}


@media (max-width:830px){
  .line{
    display:block;
  }

  .about-btn{
    position: relative;
    display: block;
  }
}

/*
dark grey:#474747
light grey: #8F8B84
Dark green: #606E52
med green: #91A56E
light green: #C0CCA4
*/