
.school-btn{
    width:100%;
    height: 3em;
    font-weight: bold;
    background-color: #1B4726;
    color: #E5DED6;
}
.nav{
    display: grid;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
    grid-template-columns: repeat(7,1fr);
  }


.school-btn:hover{
    background-color: #2E6939;
}
.school-btn:focus{
    background-color: #2E6939;
}